{:deps   {}
 :source-paths ["src/clj" "src/cljc" "src/cljs" "test"]
 :builds {:cli-test {:target    :node-test
                     :output-to "out/node-tests.js"
                     :ns-regexp "-test$"
                     :autorun   true}
          :browser-test {:target           :browser-test
                         :test-dir         "out/public/js/test"
                         :ns-regexp        "-test$"
                         :compiler-options {:static-fns false}
                         :devtools         {:http-port          9158
                                            :http-resource-root "public"
                                            :http-root          "out/public/js/test"}}}}
